<html>
    <head>

    </head>
    <body>
        <h1>THIS API IS MADE WITH NODE.JS | EXPRESS | MONGODB </h1>
        <h4>Postman friendly Api . Please Look for instructions given below and implement it on postman.</h4>


        <ul>
            <li>GET ALL USERS => herokulink/api/user</li>
            <li>GET USER BY ID => herokulink/api/user/:id</li>
            <li>POST NEW USER (PASS JSON BODY FROM POSTMAN) => herokulink/api/user/add</li>
            <li>UPDATE(PUT) USER BY ID => herokulink/api/user/update/:id</li>
            <li>DELETE USER BY ID => herokulink/api/user/delete/:id</li>
        </ul>
    </body>
</html>